<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="APPLIDATIONDATADIRECTORY">
            <Directory Id="dir11D238F5990107A47B3E0A0140F80AFC" Name="conf.d" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="conf.d">
            <Component Id="cmpBC9EE65A9213A780BF4E8215BD8BD880" Directory="dir11D238F5990107A47B3E0A0140F80AFC" Guid="{333EEAB0-5764-4619-A4B9-FA07DC2B3884}">
                <File Id="fil84587BDBA5A38F87F6A5EE18A04AAD94" KeyPath="yes" Source="$(var.InstallFilesConfD)\haproxy.yaml.example" />
            </Component>
            <Component Id="cmp047EA893B50CAF1FDE796B3A9D5CA6D2" Directory="dir11D238F5990107A47B3E0A0140F80AFC" Guid="{D0E00A52-F8C1-4DFB-8E69-9AFA501967B5}">
                <File Id="fil8AF3BD48A41149F674B893BF12EB6B64" KeyPath="yes" Source="$(var.InstallFilesConfD)\postgres.yaml.example" />
            </Component>
            <Component Id="cmpA740DE74580F72551C2BFD024F872FB6" Directory="dir11D238F5990107A47B3E0A0140F80AFC" Guid="{2A2006A3-69FB-469C-AB54-72533A5A9F78}">
                <File Id="fil7B4084495480B7A47B346D26B46F4A48" KeyPath="yes" Source="$(var.InstallFilesConfD)\redisdb.yaml.example" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>