*.zip
Gemfile.lock
*.pyc
*.*~
build/*
datadog.conf
datadog_agent.egg-info/*
artifacts/*
node_modules/*
.DS_Store
venv/*
*.swp
*.log
!nagios.log
*.pid
*.deb
*.rpm
*.egg-info*
dist/*
*.msi
*.wixobj
*.wixpdb
*.exe
nosetests*.xml
stats.dat
conf.d/*.yaml
!conf.d/network.yaml
packaging/build/
packaging/root/
Vagrantfile
.vagrant/*
embedded/*
.pip-cache/*
.cache
dump.rdb
tests/core/fixtures/flare/dd*
.python-version
