sudo: false

branches:
  only:
    - master
    - /^\d+\.\d+\.x$/ # release forked patches branch

language: python
python:
  - "2.6"
  - "2.7"

cache:
  directories:
    - $HOME/virtualenv/python$TRAVIS_PYTHON_VERSION.9
    - vendor/cache

matrix:
  fast_finish: true

env:
  global:
    - CONCURRENCY=2
    - COVERAGE=true
    - NOSE_FILTER="not windows"
    - INTEGRATIONS_DIR=$HOME/embedded
    - PIP_CACHE=$HOME/.cache/pip
    - SKIP_CLEANUP=true
    - VOLATILE_DIR=/tmp
    - DD_CASHER_DIR=/tmp/casher
  matrix:
    - TRAVIS_FLAVOR=default
    - TRAVIS_FLAVOR=core_integration
    - TRAVIS_FLAVOR=checks_mock
    - TRAVIS_FLAVOR=activemq
    - TRAVIS_FLAVOR=apache
    - TRAVIS_FLAVOR=cassandra FLAVOR_VERSION=2.0.13
    - TRAVIS_FLAVOR=cassandra FLAVOR_VERSION=2.1.3
    - TRAVIS_FLAVOR=couchdb
    - TRAVIS_FLAVOR=elasticsearch FLAVOR_VERSION=0.90.13
    - TRAVIS_FLAVOR=elasticsearch FLAVOR_VERSION=1.0.3
    - TRAVIS_FLAVOR=elasticsearch FLAVOR_VERSION=1.1.2
    - TRAVIS_FLAVOR=elasticsearch FLAVOR_VERSION=1.2.4
    - TRAVIS_FLAVOR=elasticsearch FLAVOR_VERSION=1.3.9
    - TRAVIS_FLAVOR=elasticsearch FLAVOR_VERSION=1.4.5
    - TRAVIS_FLAVOR=elasticsearch FLAVOR_VERSION=1.5.2
    - TRAVIS_FLAVOR=elasticsearch FLAVOR_VERSION=1.6.0
    - TRAVIS_FLAVOR=etcd
    - TRAVIS_FLAVOR=fluentd
    - TRAVIS_FLAVOR=go_expvar
    # FIXME: cannot enable gearman on Travis right now
    # because it needs boost
    # - TRAVIS_FLAVOR=gearman
    - TRAVIS_FLAVOR=haproxy FLAVOR_VERSION=1.3.27
    - TRAVIS_FLAVOR=haproxy FLAVOR_VERSION=1.4.26
    - TRAVIS_FLAVOR=haproxy FLAVOR_VERSION=1.5.11
    - TRAVIS_FLAVOR=lighttpd
    - TRAVIS_FLAVOR=memcache
    - TRAVIS_FLAVOR=mongo FLAVOR_VERSION=2.6.9
    - TRAVIS_FLAVOR=mongo FLAVOR_VERSION=3.0.1
    - TRAVIS_FLAVOR=mysql
    - TRAVIS_FLAVOR=network
    - TRAVIS_FLAVOR=nginx FLAVOR_VERSION=1.6.2
    - TRAVIS_FLAVOR=nginx FLAVOR_VERSION=1.7.11
    - TRAVIS_FLAVOR=pgbouncer
    - TRAVIS_FLAVOR=phpfpm
    - TRAVIS_FLAVOR=postgres FLAVOR_VERSION=9.0.19
    - TRAVIS_FLAVOR=postgres FLAVOR_VERSION=9.1.15
    - TRAVIS_FLAVOR=postgres FLAVOR_VERSION=9.2.10
    - TRAVIS_FLAVOR=postgres FLAVOR_VERSION=9.3.6
    - TRAVIS_FLAVOR=postgres FLAVOR_VERSION=9.4.1
    - TRAVIS_FLAVOR=rabbitmq
    - TRAVIS_FLAVOR=redis FLAVOR_VERSION=2.4.18
    - TRAVIS_FLAVOR=redis FLAVOR_VERSION=2.6.17
    - TRAVIS_FLAVOR=redis FLAVOR_VERSION=2.8.19
# Compilation takes too much time on Travis
#   - TRAVIS_FLAVOR=riak
    - TRAVIS_FLAVOR=snmpd
    - TRAVIS_FLAVOR=ssh
    - TRAVIS_FLAVOR=supervisord
    - TRAVIS_FLAVOR=sysstat
# FIXME: reenable, but right now cannot run on Travis because
# hugepages are enabled
#    - TRAVIS_FLAVOR=tokumx
    - TRAVIS_FLAVOR=tomcat # JMX testing machine / need the other ones before
    - TRAVIS_FLAVOR=varnish FLAVOR_VERSION=3.0.7
    - TRAVIS_FLAVOR=varnish FLAVOR_VERSION=4.0.3
    - TRAVIS_FLAVOR=zookeeper

# Override travis defaults with empty jobs
before_install: echo "OVERRIDING TRAVIS STEPS"
install: echo "OVERRIDING TRAVIS STEPS"
before_script: echo "OVERRIDING TRAVIS STEPS"

script:
  - bundle install
  - bundle package
  # Needed if no cache exists
  - mkdir -p $INTEGRATIONS_DIR
  - ls -al $INTEGRATIONS_DIR
  - rm -rf /home/travis/virtualenv/python$TRAVIS_PYTHON_VERSION.9/lib/python$TRAVIS_PYTHON_VERSION/site-packages/pip-6.0.7.dist-info
  - rm -rf /home/travis/virtualenv/python$TRAVIS_PYTHON_VERSION.9/lib/python$TRAVIS_PYTHON_VERSION/site-packages/setuptools-12.0.5.dist-info
  - 'rake ci:run'
  - ls -al $INTEGRATIONS_DIR


after_failure:
  - echo "Logs from installation process come here / DEBUG LOGS"
  - cat /tmp/ci.log

notifications:
  slack:
    secure: DTv6FhbyKCfQVAQkz4QXDwZeKkGQsFFSoFBdry/Rn+tWet3y/dSDDRCVl7wumJbfsURCtR7qAp2wAn0h/6RGjFBYozzO3Y7UlxA0mtKgIFi7jyMz287NLnIwTN6deHqEaMpMdpiWeBn9QANF/Scyl5/isCOwUpRXYgQR9beV/Rk=
