language: python
python:
  - "2.6"
  - "2.7"

env:
  global:
    - NOSE_FILTER="not windows"
  matrix:
    - TRAVIS_FLAVOR=default
    - TRAVIS_FLAVOR=cache,gearman,database,ssh
    - TRAVIS_FLAVOR=cassandra,tomcat,jmx # JMX testing machine / need the other ones before
    - TRAVIS_FLAVOR=elasticsearch,network,sysstat,webserver
    - TRAVIS_FLAVOR=mongo

matrix:
  allow_failures:
    - env: TRAVIS_FLAVOR=mongo

# Override travis defaults with empty jobs
before_install: echo "OVERRIDING TRAVIS STEPS"
install: echo "OVERRIDING TRAVIS STEPS"
before_script: echo "OVERRIDING TRAVIS STEPS"

script:
  - bundle install
  - 'rake ci:run'

after_failure:
  - echo "Logs from installation process come here / DEBUG LOGS"
  - cat /tmp/ci.log
  - bash -c "if [[ \"$TRAVIS_FLAVOR\" =~ \"mongo\" ]]; then cat /tmp/mongo.log; fi"
  - bash -c "if [[ \"$TRAVIS_FLAVOR\" =~ \"mongo\" ]]; then cat /data/mongod1/mongo.log; fi"
  - bash -c "if [[ \"$TRAVIS_FLAVOR\" =~ \"mongo\" ]]; then cat /data/mongod2/mongo.log; fi"

notifications:
  hipchat:
    - secure: "DilCAl72f0WU54QIeHzwEfGn2at5+WzEfd3+sFARFyHNje4YLkELnF3iUw5aolaroNUc4Kr0NEYKmpsVQ9EWtKR2DosF2CdMNVv79hntYPyWwU+rfZTRI6NJlnTr1BMUEi7nMraVFDGbpYkXm/qqBPFKp8/cBOHbfNn9m+0dffg="
