language: python
python:
  - "2.6"
  - "2.7"
install:
  - pip install -r requirements.txt --use-mirrors
  - pip install . --use-mirrors
script: nosetests tests
before_script:
  - sudo apt-get install sysstat
  - curl -L https://github.com/downloads/elasticsearch/elasticsearch/elasticsearch-0.19.4.deb > /tmp/es.deb
  - sudo dpkg -i /tmp/es.deb
  - sudo service elasticsearch start
env:
  - DB=redis PYTHONPATH=$PWD
notifications:
  irc:
    - "irc.freenode.org#datadog"
