## Default configuration
#core:
#    schedule:
#        timeout:  5           # To check will timeout and exit after {timeout} seconds
#        period:  15           # Scheduled once every {period} seconds
#
#checks:
#    check_ntp:
#        command: /usr/local/bin/check_ntp_peer -H $host
#
#    check_pg:
#        command: /usr/local/bin/check_pg.sh -p $port -d $db
#        options:
#            timeout: 2
#            period: 60
#        params:
#            - port: 5432
#              db: db1
#            - port: 5433
#              db: db2
