[Main]
sd_url: http://localhost:8888
api_key: apikey_2
agent_key: 
debug_mode: no 
check_freq: 3

apache_status_url: http://www.example.com/server-status/?auto

ganglia_host: localhost
ganglia_port: 8651

mysql_server:
mysql_user:
mysql_pass:

nginx_status_url: http://www.example.com/nginx_status

rabbitmq_status_url: http://www.example.com:55672/json
rabbitmq_user: guest
rabbitmq_pass: guest

mongodb_server:

couchdb_server:

hudson_home: /Users/hudson/.hudson/

nagios_log: /var/log/nagios3/nagios.log

[datadog]

#Multiple files can be tailed, just separate them with a ","
rollup_etl_logs = /home/fabrice/dev/datadog/git/dogweb/build/rollup_etl.log
