######################## WARNING ##########################
# This file currently determines the python deps installed
# for the dev env and the source install.
# It is NOT used for the DEB/RPM packages and the OS X
# and Windows builds. For these please update:
# https://github.com/DataDog/omnibus-software
###########################################################

# core/optional
# tornado can work without pycurl and use the simple http client
# but some features won't work, like the abylity to use a proxy
# Require a compiler and the curl headers+lib
# On windows - manual install of pycurl might be easier.
pycurl==7.19.5.1

# core-ish/system -> system check on windows
psutil==4.4.1

# checks.d/kubernetes_state.py -> used in utils/prometheus/*
# Pure python module for dev purposes, the Agent is shipped with the optimized version built with --cpp_implementation
protobuf==3.5.1
