pymongo
tornado==3.2.2
redis
python-memcached
pyyaml
simplejson
psutil
gearman
pylint
boto
pycurl
pysnmp
pysnmp-mibs
pymysql
pyvmomi==5.5.0
pg8000
ntplib
httplib2
kafka-python==0.9.0-9bed11db98387c0d9e456528130b330631dc50af
requests
paramiko
