# core/optional
# tornado can work without pycurl and use the simple http client
# but some features won't work, like the abylity to use a proxy
# Require a compiler and the curl headers+lib
# On windows - manual install of pycurl might be easier. 
pycurl==7.19.5.1

# core-ish/system -> system check on windows
# checks.d/process.py
# checks.d/gunicorn.py
# checks.d/btrfs.py
# checks.d/system_core.py
psutil==3.3.0

# checks.d/snmp.py
# Require a compiler because pycrypto is a dep
pysnmp-mibs==0.1.4
pysnmp==4.2.5

# checks.d/mongo.py
# checks.d/tokumx.py
# Require a compiler
# TODO: our checks are not compatible with 3.x
pymongo==3.2

# checks.d/kafka_consumer.py
# Requires a compiler because zope.interface is a dep
kazoo==1.3.1

# checks.d/ssh_check.py
winrandom-ctypes
# Require a compiler because pycrypto is a dep
paramiko==1.15.2

# checks.d/pgbouncer.py
# Require libpq
psycopg2==2.6

# checks.d/win32_event_log.py
# checks.d/wmi.py
# It's a pure python module, it doesn't require anything to install,
# but needs the pywin32 extension to work
wmi==1.4.9
