init_config:

instances:
  - url: http://localhost:8161
    # the url will probably be something like http://<hostname>:8161
    # the agent check will append /admin/xml/queues.jsp to the url 
    # username: username
    # password: password
    # suppress_errors: false # suppress connection errors if url is expected to be sometimes offline (eg standby host)
       
    #detailed_queues: # Optional. If you have more than 300 queues you need to list the ones you want to track
      # - queue1
      # - queue2


    #detailed_topics: # Optional. If you have more than 300 topics you need to list the ones you want to track
      # - topic1
      # - topic2

    #detailed_subscribers: # Optional. If you have more than 300 subscribers you need to list the ones you want to track
      # - subscriber1
      # - subscriber2