init_config:

instances:
  # The Cacti checks requires access to the Cacti DB in MySQL and to the RRD
  # files that contain the metrics tracked in Cacti.
  # In almost all cases, you'll only need one instance pointing to the Cacti
  # database.
  #
  # The `rrd_path` will probably be '/var/lib/cacti/rra' on Ubuntu
  # or '/var/www/html/cacti/rra' on any other machines.
  #
  # The `field_names` is an optional parameter to specify which field_names
  # should be used to determine if a device is a real device. You can let it
  # commented out as the default values should satisfy your needs.
  # You can run the following query to determine your field names:
  #       SELECT
  #            h.hostname as hostname,
  #            hsc.field_value as device_name,
  #            dt.data_source_path as rrd_path,
  #            hsc.field_name as field_name
  #        FROM data_local dl
  #            JOIN host h on dl.host_id = h.id
  #            JOIN data_template_data dt on dt.local_data_id = dl.id
  #            LEFT JOIN host_snmp_cache hsc on h.id = hsc.host_id
  #                AND dl.snmp_index = hsc.snmp_index
  #        WHERE dt.data_source_path IS NOT NULL
  #        AND dt.data_source_path != ''
  #
  #
  #
  # The `rrd_whitelist` is a path to a text file that has a list of patterns,
  # one per line, that should be fetched. If no whitelist is specified, all
  # metrics will be fetched.
  #
  - mysql_host: localhost
    mysql_user: MYSQL_USER
    mysql_password: MYSQL_PASSWORD
    rrd_path: /path/to/cacti/rra
    # field_names:
    #   - ifName
    #   - dskDevice
    #   - ifIndex
    rrd_whitelist: /path/to/rrd_whitelist.txt
