init_config:

instances:
  # The `db_whitelist` should contain the names of the databases meant to be checked.
  # If no whitelist is specified, all databases will be checked.
  #
  # The `db_blacklist` should contain the names of any databases meant to be excluded
  # from being checked. If a database is listed in both the blacklist and whitelist,
  # the blacklist will take precedence.
  #
  # You should also notice that no more than 50 databases will be checked, if you have
  # whitelisted more than 50 or if you have more than 50 databases and no whitelist,
  # only the first 50 databases will be checked.
  #
  - server: http://localhost:5984
    # user: username                # optional
    # password: password            # optional
    # timeout: 5                    # in seconds
    # db_whitelist:
    #  - db1
    #  - db2
    #  - db3
    # db_blacklist:
    #  - db1
    #  - db2
    #  - db3

