init_config:

instances:
    - url: "unix://var/run/docker.sock"

# Include/Exclude rules
#
# To include or exclude containers based on their tags, use the include and
# exclude keys in your instance.
# The reasoning is: if a tag matches an exclude rule, it won't be included
# unless it also matches an include rule.
#
# Examples:
# exclude all, except ubuntu and debian:
# instances:
#     - url: "unix://var/run/docker.sock"
#       include:
#         - "image:ubuntu"
#         - "image:debian"
#       exclude:
#         - ".*"
#
# include all, except ubuntu and debian:
# instances:
#     - url: "unix://var/run/docker.sock"
#       include: []
#       exclude:
#         - "image:ubuntu"
#         - "image:debian"
