init_config:

instances:
    # The URL where elasticsearch accepts HTTP requests. This will be used to
    # fetch statistics from the nodes and information about the cluster health.
    #
    # If you're using basic authentication with a 3rd party library, for example
    # elasticsearch-http-basic, you will need to specify a value for username
    # and password for every instance that requires authentication.
    #
    # If your cluster is hosted externally (i.e., you're not pointing to localhost)
    # you will need to set `is_external` to true otherwise the check will compare
    # the local hostname against hostnames of the Elasticsearch nodes and only
    # submit metrics if they match.
    #
    #-  url: http://localhost:9200
    #   username: username
    #   password: password
    #   is_external: false
    #   tags:
    #     - 'tag1:key1'
    #     - 'tag2:key2'
