init_config:

# this check uses fail2ban-client to get the status from fail2ban, usually you need root
# in order to access the fail2ban-server
#
# since this check runs as the dd-agent user you will probably need to set sudo: True
# as well as granting the dd-agent user rights to execute the fail2ban-client command
# using sudo, you can do so by adding the following to your /etc/sudoers file
#
#   dd-agent ALL=(ALL) NOPASSWD: /usr/bin/fail2ban-client

instances:
  - # sudo: True
    # this probably needs to be set to True, but lets leave commented out, just in case

    # tags:
    #   - optional:tag
    # additional tags to emit along with the metrics

    # jail_blacklist:
    #   - optional_blacklist
    # use this blacklist to omit fetching and emiting status/metrics for a given jail, e.g. "ssh"
