init_config:

instances:
    # Every instance requires a `monitor_agent_url`
    # Optional, set `plugin_ids` to monitor a specific scope of plugins.
    -  monitor_agent_url: http://example.com:24220/api/plugins.json
       plugin_ids:
         - plg1
         - plg2
    # Optional, set 'tag_by' to specify how to tag metrics. By default, metrics are tagged with `plugin_id`
    -  monitor_agent_url: http://example.com:24220/api/plugins.json
       tag_by: type

