init_config:

instances:
  - server: localhost
    port: 4730
    # Use the `tasks` parameter to specify the tasks you'd like to
    # collect metrics on (up to 200 tasks).
    #
    # If you have fewer than 200 tasks, you don't have to set this parameter,
    # the metrics will be collected on all the tasks by default.
    # tasks:
    #   - task1 
    #   - task2
    # tags:
    #   - optional_tag_1
    #   - optional_tag_2
