#init_config:
#
#instances:
#    # See http://godoc.org/runtime#MemStats for explanation on
#    # the memstats metrics that are exported by default
#    - expvar_url: http://localhost:8080/debug/vars
#      tags:
#        - "optionaltag1"
#        - "optionaltag2"
#      metrics:
#        - path: memstats/PauseTotalNs
#          name: gc.pauseTime
#          type: rate
#        - path: Memstats/Alloc # metric will be reported as a gauge by default
#        - path: Memstats/Lookups
#          type: rate
#        - path: Memstats/Mallocs
#          type: rate
#        - path: Memstats/Frees
#          type: rate
#        - path: memstats/BySize/1/Mallocs # You can get nested values by separating them with "/"
#        - path: myvariable
#          name: my_custom_name
#          type: gauge
