init_config:
#    notify: 
#        - user1@example.com
#        - pagerduty

instances:
#    -   name: My_first_service
#        url: http://some.url.example.com
#        username: user
#        password: pass
#        timeout: 1

#    -   name: My_second_service
#        url: https://another.url.example.com
#        notify:
#           - user2@example.com
#           - pagerduty
