init_config:

instances:
  # By default, this check will run against a single instance - the current
  # machine that the Agent is running on. It will check the WMI performance
  # counters for IIS on that machine.
  #
  # If you want to check other remote machines as well, you can add one
  # instance per host. Note: If you also want to check the counters on the
  # current machine, you will have to create an instance with empty params.
  #
  # The optional `provider` parameter allows to specify a WMI provider
  # (default to `32` on Datadog Agent 32-bit or `64`). It is used to request
  # WMI data from the non-default provider. Available options are: `32` or `64`.
  # For more information: https://msdn.microsoft.com/en-us/library/aa393067(v=vs.85).aspx
  #
  # The `sites` parameter allows you to specify a list of sites you want to
  # read metrics from. With sites specified, metrics will be tagged with the
  # site name. If you don't define any sites, the check will pull the
  # aggregate values across all sites.
  #
  # Here's an example of configuration that would check the current machine
  # and a remote machine called MYREMOTESERVER. For the remote host we are
  # only pulling metrics from the default site.
  #

  # "." means the current host
  - host: .
  #   tags:
  #     - myapp1
  #   sites:
  #     - Default Web Site
  #
  # - host: MYREMOTESERVER
  #   username: MYREMOTESERVER\fred
  #   password: mysecretpassword
  #   is_2008: false  # NOTE: because of a typo in IIS6/7 (typically on W2K8)
                      # where perfmon reports TotalBytesTransferred as
                      # TotalBytesTransfered, you may have to enable this
                      # to grab the IIS metrics in that environment.
  #   tags:
  #     - myapp2
  #     - east
  #   sites:
  #     - Default Web Site
