# DEPRECATED:
# This Jenkins check is deprecated and not actively developed anymore. It will be
# removed in a future version of the Datadog Agent. Please move to using the Datadog
# plugin for Jenkins. More information can be found on the Jenkins Integration panel
# under the Configuration tab (https://app.datadoghq.com/account/settings#integrations/jenkins)

init_config:

instances:
  - name: default
    jenkins_home: /var/lib/jenkins
