init_config:

instances:
  # For every instance, you need an `kong_status_url` and can optionally
  # supply a list of tags.
  #
  - kong_status_url: http://localhost:8001/status/
  #   tags:
  #     - instance:foo
  #
  # - kong_status_url: http://example2.com:8001/status/
  #   tags:
  #     - instance:bar
