init_config:

instances:
  # For each instance, you have an `lighttpd_status_url` and (optionally)
  # a list of tags.

  - lighttpd_status_url: http://localhost/server-status?auto
  #   tags:
  #     - instance:foo
  #
  # - lighttpd_status_url: http://example2.com:1234/server-status?auto
  #   tags:
  #     - instance:bar
  #
  # # Lighttpd2 status url
  # - lighttpd_status_url: http://example.com/server-status?format=plain
  #   tags:
  #     - instance:l2
