init_config:

instances:
    # For every instance, you have an `lighttpd2_status_url` and (optionally)
    # a list of tags.

    -   lighttpd2_status_url: http://example.com/server-status?format=plain
        tags:
            -   instance:foo

    -   lighttpd2_status_url: http://example2.com:1234/server-status?format=plain
        tags:
            -   instance:bar
