instances:
  #
  # The MapReduce check retrieves metrics from YARN's ResourceManager. This
  # check must be run from the Master Node and the ResourceManager URI must
  # be specified below. The ResourceManager URI is composed of the
  # ResourceManager's hostname and port.
  #
  # The ResourceManager hostname can be found in the yarn-site.xml conf file
  # under the property yarn.resourcemanager.address
  #
  # The ResourceManager port can be found in the yarn-site.xml conf file under
  # the property yarn.resourcemanager.webapp.address
  #
  - resourcemanager_uri: http://localhost:8088

    # A Required friendly name for the cluster.
    # cluster_name: MyMapReduceCluster

    # Set to true to collect histograms on the elapsed time of
    # map and reduce tasks (default: false)
    # collect_task_metrics: false

    # Optional tags to be applied to every emitted metric.
    # tags:
    #   - key:value
    #   - instance:production

init_config:
  #
  # Optional metrics can be specified for counters. For more information on
  # counters visit the MapReduce documentation page:
  # https://hadoop.apache.org/docs/current/hadoop-mapreduce-client/hadoop-mapreduce-client-core/MapredAppMasterRest.html#Job_Counters_API
  #

  general_counters:
    #
    # general_counters are job agnostic metrics that create a metric for each
    # specified counter
    #
    # - counter_group_name: 'org.apache.hadoop.mapreduce.TaskCounter'
    #   counters:
    #     - counter_name: 'MAP_INPUT_RECORDS'
    #     - counter_name: 'MAP_OUTPUT_RECORDS'
    #     - counter_name: 'REDUCE_INPUT_RECORDS'
    #     - counter_name: 'REDUCE_OUTPUT_RECORDS'
    #
    # Additional counter's can be specified as following
    #

    # - counter_group_name: 'org.apache.hadoop.mapreduce.FileSystemCounter'
    #   counters:
    #     - counter_name: 'HDFS_BYTES_READ'

  job_specific_counters:
    #
    # job_specific_counters are metrics that are specific to a particular job.
    # The following example specifies counters for the jobs 'Foo' and 'Bar'.
    #

    # - job_name: 'Foo'
    #   metrics:
    #     - counter_group_name: 'org.apache.hadoop.mapreduce.FileSystemCounter'
    #       counters:
    #         - counter_name: 'FILE_BYTES_WRITTEN'
    #         - counter_name: 'HDFS_BYTES_WRITTEN'
    #     - counter_group_name: 'org.apache.hadoop.mapreduce.FileSystemCounter'
    #       counters:
    #         - counter_name: 'HDFS_BYTES_READ'
    # - job_name: 'Bar'
    #   metrics:
    #     - counter_group_name: 'org.apache.hadoop.mapreduce.FileSystemCounter'
    #       counters:
    #         - counter_name: 'FILE_BYTES_WRITTEN'
