init_config:
  # time to wait on a Marathon API request
  # - default_timeout: 5

instances:
  # url: the API endpoint of your Marathon master
  # - url: "https://server:port"
  #
  #   the user for marathon API basic auth or ACS token authentication
  #   user: "username"
  #   the password for marathon API basic auth or ACS token authentication
  #   password: "password"
  #
  #   to disable ssl validation
  #   disable_ssl_validation: true
  #
  #   to get metrics from just one application group:
  #   group: product
  #
  #   acs_url: the base ACS endpoint url if an ACS token is required to access the marathon API
  #   acs_url: https://server:port
