init_config:
# time to wait on a Marathon API request
  # default_timeout: 5

instances:
# url: the API endpoint of your Marathon master
  # - url: "https://server:port"
  #
  #   if marathon is protected by basic auth
  #   user: "username"
  #   password: "password"
  #
  #   to disable ssl validation
  #   disable_ssl_validation: true
  #
  #   to get metrics from just one application group:
  #   group: product
