init_config:

instances:
#    - url: localhost
#      port: 11211
#      tags: 
#        # This is to be able to continue using the old 'instance:tag'
#        # If no tags are passed in, a tag of 'instance:(url)_(port)' will be added
#        - 'instance:instance_tag'
#        - optional_regular_tag