init_config:
  default_timeout: 10

instances:
  - url: "http://localhost:5051"
    #  master_port: 5050
    #  tasks:
    #    - "hello"

    # The (optional) disable_ssl_validation will instruct the check
    # to skip the validation of the SSL certificate of the slave metric endpoint.
    # This is mostly useful for certificates that are not signed by a
    # public authority.
    # When true, the check logs a warning in collector.log
    # Defaults to false, set to true if you want to disable
    # SSL certificate validation.
    #
    # disable_ssl_validation: true

