init_config:

instances:
  # Specify the MongoDB URI, with database to use for reporting (defaults to "admin")
  - server: mongodb://localhost:27017/admin
    # tags:
    #   - optional_tag1
    #   - optional_tag2

    # Optional SSL parameters, see https://github.com/mongodb/mongo-python-driver/blob/2.6.3/pymongo/mongo_client.py#L193-L212
    # for more details
    #
    # ssl: False # Optional (default to False)
    # ssl_keyfile: # Path to the private keyfile used to identify the local
    # ssl_certfile: # Path to the certificate file used to identify the local connection against mongod.
    # ssl_cert_reqs: # Specifies whether a certificate is required from the other side of the connection, and whether it will be validated if provided.
    # ssl_ca_certs: #  Path to the ca_certs file
