init_config:

instances:
#  - server: localhost
#    user: my_username 
#    pass: my_password 
#    tags:
#        - optional_tag1
#	     - optional_tag2
#    options:
#        replication: 0
#        galera_cluster: 1          
