init_config:

instances:
#  - server: localhost
#    user: my_username
#    pass: my_password
#    port: 3306             # Optional
#    tags:                  # Optional
#        - optional_tag1
#        - optional_tag2
#    options:               # Optional
#        replication: 0

         # replication_notify is only used when "replication: 1", these are
         # the users/services which are notified of any MySQL Slave errors
#        replication_notify:
#          - user1@domain.com
#          - pagerduty
#        galera_cluster: 1
