init_config:

instances:
  - server: localhost
    # user: my_username
    # pass: my_password
    # port: 3306             # Optional
    # sock: /path/to/sock    # Connect via Unix Socket
    # defaults_file: my.cnf  # Alternate configuration mechanism
    # tags:                  # Optional
    #   - optional_tag1
    #   - optional_tag2
    # options:               # Optional
    #   replication: 0
    #   galera_cluster: 1
    # queries:               # Optional, maximum of 20 custom query metrics
    #  - # Sample Custom metric
    #    query: SELECT TIMESTAMPDIFF(second,MAX(create_time),NOW()) as last_accessed FROM requests
    #    metric: app.seconds_since_last_request
    #    type: gauge
    #    field: last_accessed
    #  - # Sample Custom metric
    #    query: SELECT TIMESTAMPDIFF(second,MAX(create_time),NOW()) as last_user FROM users
    #    metric: app.seconds_since_new_user
    #    type: gauge
    #    field: last_user
