# If you use perfdata, dd-agent can import automatically and in real-time
# performance data collected by nagios.
# For more information on perfdata configuration, please refer to
# http://nagios.sourceforge.net/docs/3_0/perfdata.html
#
# Path to Nagios' ***configuration*** file where the properties log_file,
# host|service_perfdata_file and host|service_perfdata_file_template
# are defined.

init_config:

# Each nagios cfg file must have a different path
instances:
# (ubuntu 10.04)
#   -   cfg_file: /etc/nagios3/nagios.cfg
# (centos 5)
#   -   cfg_file: /etc/nagios/nagios.cfg
