init_config:
  # check_freq: 15

instances:
  - nagios_conf: /etc/nagios3/nagios.cfg
  #   # Default to True
  #   collect_events: True
  #
  #   # Default to False
  #   collect_host_performance_data: False
  #   collect_service_performance_data: False
