init_config:

instances:
    # For every instance, you have an `nginx_status_url` and (optionally)
    # a list of tags.

    -   nginx_status_url: http://example.com/nginx_status/
        tags:
            -   instance:foo

    -   nginx_status_url: http://example2.com:1234/nginx_status/
        tags:
            -   instance:bar
