init_config:
      # All directives prefixed with a '#' sign are optional and will default to sane values when omitted

      # Where your identity server lives. Note that the server must support Identity API v3
      keystone_server_url: "https://my-keystone-server.com:<port>/"

      # The hostname of this machine registered with Nova. Defaults to socket.gethostname()
      # os_host: my_hostname

      # Nova API version to use - this check supports v2 and v2.1 (default)
      # nova_api_version: 'v2.1'

      # IDs of Nova Hypervisors to monitor
      # This is only required when nova_api_version is set to `v2` since
      # indexing hypervsiors is restricted to `admin`s in Compute API v2
      # With v2.1, the check will intelligently discover the locally running
      # hypervisor, based on the hypervisor_hostname

      # hypervisor_ids:
      #    - 1

      # IDs of networks to exclude from monitoring (by default the agent will collect metrics from networks returned by the neutron:get_networks operation)
      # exclude_network_ids:
      #    - network_1

      # Whether to enable SSL certificate verification for HTTP requests. Defaults to true, you may
      # need to set to false when using self-signed certs
      # ssl_verify: true

instances:
    - name: instance_1 # A required unique identifier for this instance

      # The authorization scope that will be used to request a token from Identity API v3
      # The auth scope must resolve to 1 of the following structures:
      # {'project': {'name': 'my_project', 'domain': 'my_domain} OR {'project': {'id': 'my_project_id'}}
      auth_scope:
          project:
              id: my_project_id

          # Alternately

          # project:
          #     name: my_project_name
          #     domain:
          #         id: default


      # User credentials
      # Password authentication is the only auth method supported right now
      # User expects username, password, and user domain id
      # `user` should resolve to a structure like {'password': 'my_password', 'name': 'my_name', 'domain': {'id': 'my_domain_id'}}
      user:
          password: my_password
          name: datadog
          domain:
              id: default

      # In some cases, the nova url is returned without the tenant id suffixed
      # e.g. http://172.0.0.1:8774 rather than http://172.0.0.1:8774/<tenant_id>
      # Setting append_tenant_id to true manually adds this suffix for downstream requests
      # append_tenant_id: false

      # IDs of servers to exclude from monitoring (by default the agent will collect metrics from all guest servers for this project that are running on the host
      # exclude_server_ids:
      #    - server_1
      #    - server_2
