init_config:
      # All directives prefixed with a '#' sign are optional and will default to sane values when omitted

      # Where your identity server lives. Note that the server must support Identity API v3
      keystone_server_url: "https://my-keystone-server.com:<port>/"

      # The hostname of this machine registered with Nova. Defaults to socket.gethostname()
      # os_host: my_hostname

      # Nova API version to use - this check supports v2 and v2.1 (default)
      # nova_api_version: 'v2.1'

      # IDs of Nova Hypervisors to monitor
      # This is only required when nova_api_version is set to `v2` since
      # indexing hypervsiors is restricted to `admin`s in Compute API v2
      # With v2.1, the check will intelligently discover the locally running
      # hypervisor, based on the hypervisor_hostname

      # hypervisor_ids:
      #    - 1

      # IDs of networks to exclude from monitoring (by default the agent will collect metrics from networks returned by the neutron:get_networks operation)
      # exclude_network_ids:
      #    - network_1

      # Whether to enable SSL certificate verification for HTTP requests. Defaults to true, you may
      # need to set to false when using self-signed certs
      # ssl_verify: true

instances:
   - admin_domain_id: default # A domain ID that this user will request a domain-scoped token against to call identity:list_projects and identity:list_users

     auth: # The username and password that will be used to request the above token
        user: datadog
        password: dd_password
