init_config:

instances:
  - #   Talk to the PHP process using FCGI or HTTP protocol
    #
    # If you want to monitor the FPM process directly (via TCP or Unix domain socket)
    `listen` directive in the config, usually
    monitoring_type: fcgi

    # If You use HTTP method, you should configured your fastcgi passthru (nginx/apache) to
    # catch these URLs and redirect them through the FPM pool target
    #monitoring_type: HTTP

    # In case you want to use Unix domain socket, define the socket location
    #listen = /var/run/php5-fpm/DOMAINNAME.socket

    #   PS: Set server to "unix" if you are using Unix Sockets
    server: 127.0.0.1
    #port: 80
    port: 9000
    status_location: /status
    #ping_location: /ping

    # Set the expected reply to the ping.
    ping_reply: pong
    # These 2 URLs should follow the options from your FPM pool
    # See http://php.net/manual/en/install.fpm.configuration.php
    #   * pm.status_path
    #   * ping.path
    # Use this if you have basic authentication on these pages
    # user: bits
    # password: D4T4D0G
    #
    # Array of custom tags
    # By default metrics and service check will be tagged by pool and host
    # tags:
    #   - instance:foo
tags:
  - type:php
