init_config:

instances:
    - directory: /var/spool/postfix
      queues:
          - incoming
          - active
          - deferred
    - directory: /var/spool/postfix-2
      queues:
          - incoming
          - active
          - deferred

