# The user running dd-agent must have passwordless sudo access for the find
# command to run the postfix check.  Here's an example:
#
# example /etc/sudoers entry:
#          dd-agent ALL=(ALL) NOPASSWD:/usr/bin/find
#
# Redhat/CentOS/Amazon Linux flavours will need to add:
#          Defaults:dd-agent !requiretty

init_config:

instances:
  - directory: /var/spool/postfix
    queues:
      - incoming
      - active
      - deferred
    tags:
      - optional_tag1
      - optional_tag2
  - directory: /var/spool/postfix-2
    queues:
      - incoming
      - active
      - deferred
    tags:
      - optional_tag3
      - optional_tag4
