init_config:

instances:
  # - host: localhost
  #   port: 5432
  #   username: my_username
  #   password: my_password
  #   dbname: db_name
  #   tags:
  #     - optional_tag1
  #     - optional_tag2

    # Track per-relation (table) metrics
    # The list of relations/tables must be specified here.
    # Each relation generates many metrics (10 + 10 per index)
    #
    # relations:
    #   - my_table
    #   - my_other_table
