init_config:

instances:
  # The PowerDNS Recursor in v4 has a production ready web server that allows for
  # statistics gathering. In version 3.x the server was marked as experimental.
  #
  # As the server was marked as experimental in version 3 many of the metrics have
  # changed names and the API structure (paths) have also changed. With these changes
  # there has been a need to separate the two concerns. The check now has a key value
  # version: which if set to version 4 will query with the correct API path on the
  # non-experimental web server. If there is nothing set the in that key the check will
  # default to the version 3 metrics names and API paths.
  #
  # https://doc.powerdns.com/md/httpapi/api_spec/#url-apiv1serversserver95idstatistics
  #
  # PowerDNS recursor version 3.x and 4.0 support included.



  # Host running the recursor.
  - host: 127.0.0.1
  # Recursor web server port.
    port: 8082
  # Recursor web server api key.
    api_key: pdns_api_key
  # Version 3 or 4 absence of this field will default to version 3.
    version: 3

  # Optional tags to be applied to every emitted metric.
    # tags:
    #   - key:value
    #   - instance:production
