init_config:

instances:
#  - name: (required) STRING. It will be used to uniquely identify your metrics as they will be tagged with this name
#    search_string: (required) LIST OF STRINGS. If one of the elements in the list matches,
#                    return the counter of all the processes that contain the string
#    exact_match: (optional) Boolean. Default to True, if you want to look for an arbitrary
#                 string, use exact_match: False
#    cpu_check_interval: (optional) CPU percent check interval: 0.1 - 1.0 sec.
#    ignore_denied_access: (optional) Boolean. Default to True, when getting the number of files descriptors, dd-agent user might
#    get a denied access. Set this to true to not issue a warning if that happens.
#
# Examples:
#

 - name: ssh
   search_string: ['ssh', 'sshd']

 - name: postgres
   search_string: ['postgres']
   ignore_denied_access: True

 - name: All
   search_string: ['All']

 - name: nodeserver
   search_string: ['node server.js']

#  -  name: python
#     process: ['python']
#  -  name: node
#     process: ['node']

