init_config:

instances:
#  - name: (mandatory) STRING Is the display name of the check, it will be system.name.processes
#    search_string: (mandatory) LIST OF STRINGS If one of the element in the list matches, 
#                    return the counter of all the processes that contain the string
#    exact_match: (optional) True/False, default to False, if you want to look for an arbitrary
#                 string, use exact_match: False, unless use the exact base name of the process
#    
# Examples:
#

 - name: ssh
   search_string: ['ssh', 'sshd']
   exact_match: False

 - name: postgres
   search_string: ['postgres']
   
 - name: All
   search_string: ['All']
   
 - name: nodeserver
   search_string: ['node server.js']
   exact_match: False
    
#  -  name: python
#     process: ['python']
#  -  name: nodeserver
#     search_string: ['node server.js']
#  -  name: node
#     process: ['node']
#  -  name: All
