init_config:

instances:
  # for every instance a 'rabbitmq_api_url' must be provided, pointing to the api
  # url of the RabbitMQ Managment Plugin (http://www.rabbitmq.com/management.html)
  # optional: 'rabbitmq_user' (default: guest) and 'rabbitmq_pass' (default: guest)
  - rabbitmq_api_url: http://localhost:15672/api/
    rabbitmq_user: guest
    rabbitmq_pass: guest
    # If you have less than 3 nodes, you don't have to set the nodes parameters
    # All nodes metrics will be collected
    # If you have more than 3 nodes: you can set 3 node names. Metrics will be collected
    # for these nodes. For the other nodes, aggregate will be calculated.
    #
    # nodes:
    #   - rabbit@localhost
    #   - rabbit2@domain
    # nodes_regexes:
    #   - bla.*

    # If you have less than 5 queues, you don't have to set the queues parameters
    # All queues metrics will be collected
    # If you have more than 5 queues: you can set 5 queue names. Metrics will be collected
    # for these queues. For the other queues, aggregate will be calculated.
    # If you have set up vhosts, set the queue names as `vhost_name/queue_name`.
    # Warning: aggregate are calculated on the 100 first queues/nodes.
    #
    # queues:
    #   - queue1
    #   - queue2
    # queues_regexes:
    #   - thisqueue-.*
    #   - another_\d+queue

    # Service checks:
    # By default a list of all vhosts is fetched and each one will be checked
    # using the aliveness API. If you prefer only certain vhosts to be monitored
    # with service checks then you can list the vhosts you care about.
    #
    # vhosts:
    #   - vhost1
    #   - vhost2
