init_config:

instances:
    # for every instance a 'rabbitmq_api_url' must be provided, pointing to the api
    # url of the RabbitMQ Managment Plugin (http://www.rabbitmq.com/management.html)
    # optional: 'rabbitmq_user' (default: guest) and 'rabbitmq_pass' (default: guest)
    #
    # If you have less than 5 queues, you don't have to set the queues parameters
    # All queues metrics will be collected
    # If you have more than 5 queues: you can set 5 queue names. Metrics will be collected
    # for these queues. For the other queues, aggregate will be calculated.
    #
    # # If you have less than 3 nodes, you don't have to set the nodes parameters
    # All nodes metrics will be collected
    # If you have more than 3 nodes: you can set 3 node names. Metrics will be collected
    # for these nodes. For the other nodes, aggregate will be calculated.
    #
    # Warning: aggregate are calculated on the 100 first queues/nodes.


    -  rabbitmq_api_url: http://localhost:15672/api/
       rabbitmq_user: guest
       rabbitmq_pass: guest
       nodes:
        - rabbit@localhost
        - rabbit2@domain
       queues:
        - queue1
        - queue2
