init_config:

instances:
  # for every instance a 'rabbitmq_api_url' must be provided, pointing to the api
  # url of the RabbitMQ Managment Plugin (http://www.rabbitmq.com/management.html)
  # optional: 'rabbitmq_user' (default: guest) and 'rabbitmq_pass' (default: guest)
  - rabbitmq_api_url: http://localhost:15672/api/
    rabbitmq_user: guest
    rabbitmq_pass: guest
    # Use the `nodes` or `nodes_regexes` parameters to specify the nodes you'd like to
    # collect metrics on (up to 100 nodes).
    # If you have less than 100 nodes, you don't have to set this parameter,
    # the metrics will be collected on all the nodes by default.
    #
    # nodes:
    #   - rabbit@localhost
    #   - rabbit2@domain
    # nodes_regexes:
    #   - bla.*

    # Use the `queues` or `queues_regexes` parameters to specify the queues you'd like to
    # collect metrics on (up to 200 queues).
    # If you have less than 200 queues, you don't have to set this parameter,
    # the metrics will be collected on all the queues by default.
    # If you have set up vhosts, set the queue names as `vhost_name/queue_name`.
    #
    # queues:
    #   - queue1
    #   - queue2
    # queues_regexes:
    #   - thisqueue-.*
    #   - another_\d+queue

    # Service checks:
    # By default a list of all vhosts is fetched and each one will be checked
    # using the aliveness API. If you prefer only certain vhosts to be monitored
    # with service checks then you can list the vhosts you care about.
    #
    # vhosts:
    #   - vhost1
    #   - vhost2
