init_config:

instances:
  - host: localhost
    port: 6379

    # Can be used in lieu of host/port
    #
    # unix_socket_path: /var/run/redis/redis.sock # optional, can be used in lieu of host/port

    # Addional connection options
    #
    # db: 0
    # password: mypassword
    # socket_timeout: 5

    # Optional extra tags added to all redis metrics
    # tags:
    #   - optional_tag1
    #   - optional_tag2
    #

    # Check the length of these keys
    #
    # keys:
    #   - key1
    #   - key2

    # Display a warning in the info page if the keys we're tracking are missing
    # Default: True
    #
    # warn_on_missing_keys: True

    # Max number of entries to fetch from the slow query log
    # By default, the check will read this value from the redis config
    # If it's above 128, it will default to 128 due to potential increased latency
    # to retrieve more than 128 slowlog entries every 15 seconds
    # If you need to get more entries from the slow query logs
    # set the value here.
    # Warning: It may impact the performance of your redis instance
    # slowlog-max-len: 128
