init_config:

instances:
  - host: localhost
    port: 6379

    # Can be used in lieu of host/port
    #
    # unix_socket_path: /var/run/redis/redis.sock # optional, can be used in lieu of host/port

    # Addional connection options
    #
    # db: 0
    # password: mypassword
    # socket_timeout: 5

    # Optional extra tags added to all redis metrics
    # tags:
    #   - optional_tag1
    #   - optional_tag2
    #

    # Check the length of these keys
    #
    # keys:
    #   - key1
    #   - key2

    # Display a warning in the info page if the keys we're tracking are missing
    # Default: True
    #
    # warn_on_missing_keys: True
