init_config:

instances:
  - access_id: access-key
    access_secret: access-secret
    #is_secure: True # Uncomment and change to false if you are not using ssl
    #host: localhost # Hostname/IP of your riakcs node
    #port: 8080 # port used by your riakcs node
    #s3_root: s3.amazonaws.com # 
