init_config:
#    parallelize: True
#    nb_workers: 4

instances:
#    -   name: my_first_service
#        type: http
#        url: http://google.com
#        username: user
#        password: pass
#        timeout: 10

#    -   name: my_second_service
#        type: tcp
#        url: localhost
#        port: 5000
#        timeout: 5

#    -   name: my_third_service
#        type: tcp
#        url: 127.0.0.1
#        port: 4321
