# This is the configuration file for the service checks
# nb_threads: Number of new threads that will be used to perform the check, should be > 0
# notify: datadog users or services you want to nofity when a service goes down or recovers
# type: must be http or tcp, if your service is https, 'type' should still be set to 'http' 

init_config:
#    nb_threads: 4
#    notify: user2@yourorg
#

instances:
#    -   name: my_first_service
#        type: http
#        url: http://google.com
#        username: user
#        password: pass
#        timeout: 10
#        notify: user1@yourorg, pagerduty

#    -   name: my_second_service
#        type: tcp
#        url: localhost
#        port: 5000
#        timeout: 5

#    -   name: my_third_service
#        type: tcp
#        url: 127.0.0.1
#        port: 4321
