init_config:
#    #You can specify an additional folder for your custom mib files (python format)
#    mibs_folder: /path/to/your/mibs/folder

instances:

     # SNMP v1-v2 configuration

#    -   ip_address: localhost
#        port: 161
#        community_string: public
#        tags:
#            - optional_tag_1
#            - optional_tag_2
#
#        # Device metrics to monitor
#        metrics:
#        # You can specify metrics using MIBS
#            - MIB: UDP-MIB
#              symbol: udpInDatagrams
#              index: 0
#            - MIB: TCP-MIB
#              symbol: tcpActiveOpens
#              index: 0
#            - MIB: TCP-MIB
#              symbol: tcpPassiveOpens
#              index: 0
#        # You can also specify an oid and the name under which it should appear
#        # in Datadog
#            - OID: 1.3.6.1.2.1.6.9.0
#              name: tcpConnections
#
#        # Metrics to monitor on each interface
#        interface_metrics:
#            - MIB: IF-MIB
#              symbol: ifInOctets
#            - MIB: IF-MIB
#              symbol: ifOutOctets

     # SNMP v3 configuration
     # check http://pysnmp.sourceforge.net/docs/current/security-configuration.html

#    -   ip_address: localhost
#        port: 161 # default value
#        user: user
#        authKey: password
#        privKey: private_key
#        authProtocol: authProtocol
#        privProtocol: privProtocol
#        tags:
#           - optional_tag_1
#           - optional_tag_2
#
#        # Metrics to monitor on each interface
#        interface_metrics:
#            - MIB: IF-MIB
#              symbol: ifInOctets
#            - MIB: IF-MIB
#              symbol: ifOutOctets
