init_config:

instances:
  - host: localhost             # required
    username: test              # required
    # password: abcd              # optional
    # port: 22                    # optional, leaving blank defaults to port 22
    # sftp_check: True            # optional, leaving blank defaults to True
    # private_key_file:           # optional, file path to private key
    # add_missing_keys: True      # optional, leaving blank defaults to False
