init_config:

instances:
  # The full path to the varnishstat binary
  - varnishstat: /usr/bin/varnishstat

    # The (optional) name will be used in the varnishstat command for the
    # -n argument and will add a name:$instancename tag to all metrics.
    # name: myvarnishinstance

    # The (optional) list of tags will be applied to every emitted metric.
    # tags:
    #   - instance:production

    # The (optional) path to the varnishadm binary will signal the check to
    # emit a service check status on backend health using `debug.health`.
    # The service check will be tagged by backend.
    # NOTE: The Agent must be able to access varnishadm as with root
    # privilleges. You can configure your sudoers file for this:
    #
    # example /etc/sudoers entry:
    #   dd-agent ALL=(ALL) NOPASSWD:/usr/bin/varnishadm
    #
    # varnishadm: /usr/bin/varnishadm

    # The (optional) path to the varnish secretfile will be used in the
    # varnishadm command, if enabled.
    # secretfile: /etc/varnish/secret
