# Section used for global vsphere check config
init_config:

# Define your list of instances here
# each item is a vCenter instance you want to connect to and
# fetch metrics from
instances:
  # name must be a unique key representing your vCenter instance
  # mandatory
  - name: main-vcenter

    # the host used to resolve the vCenter IP
    # mandatory
    host: vcenter.domain.com

    # Read-only credentials to connect to vCenter
    # mandatory
    # see https://app.datadoghq.com/account/settings#integrations/vsphere
    username: datadog-readonly@vsphere.local
    password: mypassword

    # Set to false to disable SSL verification, when connecting to vCenter
    # optional
    # ssl_verify: true

    # Set to the absolute file path of a directory containing CA certificates
    # in PEM format
    # optional
    # ssl_capath: "/path/to/directory"

    # Use a regex like this if you want only the check
    # to fetch metrics for these ESXi hosts and the VMs
    # running on it
    # optional
    # host_include_only_regex: ".*\.prod.datadoghq.com"

    # Use a regex to include only the VMs that are
    # matching this pattern.
    # optional
    # vm_include_only_regex: ".*\.sql\.datadoghq\.com"

    # Set to true if you'd like to only collect metrics on vSphere VMs which
    # are marked by a custom field with the value 'DatadogMonitored'
    # To set this custom field with PowerCLI, use the follow command: 
    #   Get-VM <MyVMName> | Set-CustomField -Name "DatadogMonitored" -Value "DatadogMonitored"
    # optional
    # include_only_marked: false

    # When set to true, this will collect EVERY metric
    # from vCenter, which means a LOT of metrics you probably
    # do not care about. We have selected a set of metrics
    # that are interesting to monitor for you if false
    # optional
    # all_metrics: false # /!\ will generate a lot of metrics

    # Event config is a dictionary
    # For now the only switch you can flip is collect_vcenter_alarms
    # which will send as events the alarms set in vCenter
    # event_config:
    #   collect_vcenter_alarms: true # defaults to false
