init_config:

instances:
    # For each instance you define what host to connect to (defaulting to the
    # current host) as well as a list of services you care about. The service
    # names should match the Service name in the properties and NOT the display
    # name in the services.msc list.
    #
    # If you want to check services on a remote host, you have to specify a
    # hostname and (optional) credentials
    #
    #-  host: MYREMOTESERVER
    #   username: MYREMOTESERVER\fred
    #   password: mysecretpassword
    #   services:
    #     - ServiceExample
    #     - AnotherService
    #
    # The sample configuration will monitor the WMI Performance Adapter service,
    # named "wmiApSrv" in the service properties.
    #
    -   host: . # "." means the current host
        services:
          - wmiApSrv
