init_config:

instances:
  # The YARN check retrieves metrics from YARNS's ResourceManager. This
  # check must be run from the Master Node and the ResourceManager URI must
  # be specified below. The ResourceManager URI is composed of the
  # ResourceManager's hostname and port.
  #
  # The ResourceManager hostname can be found in the yarn-site.xml conf file
  # under the property yarn.resourcemanager.address
  #
  # The ResourceManager port can be found in the yarn-site.xml conf file under
  # the property yarn.resourcemanager.webapp.address
  #
  -  resourcemanager_uri: http://localhost:8088

    # A Required friendly name for the cluster.
    # cluster_name: MyYarnCluster

    # Optional tags to be applied to every emitted metric.
    # tags:
    #   - "key:value"
    #   - "instance:production"

    # Optional tags retrieved from the application data to be applied to the
    # application metrics.
    # application_tags:
    # # tag_prefix: yarn_key
    #   app_queue: queue
    # This will add a tag 'app_queue:name_of_the_queue' to the app metrics,
    # app_queue being the tag_prefix and queue the actual YARN key.
    # Allowed yarn keys: applicationType, applicationTags, name, queue, user
    # By default, the application name is collected with the prefix app_name.

