init_config:

instances:
  - host: localhost
    port: 2181
    # timeout: 3
    # tags:
    #   - optional_tag1
    #   - optional_tag2

    # If `expected_mode` is defined we'll send a service check where the
    # status is determined by whether the current mode matches the expected.
    # Options: leader, follower, standalone
    # expected_mode: leader

    # Whether to report the current instance mode as a 0/1 gauge
    # For example if the current instance mode is `observer` - `zookeeper.instances.observer` reports as 1
    # and `zookeeper.instances.(leader|follower|standalone|etc.)` reports as 0
    # report_instance_mode: true
