Source: datadog-agent
Maintainer: Fabrice Ollivier <fabrice@datadoghq.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7), python-support (>= 0.8.4)
Standards-Version: 3.8.4
XS-Python-Version: >= 2.4

Package: datadog-agent
Architecture: all
Depends: adduser, ${misc:Depends}, ${python:Depends}
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: Datatadog monitoring agent
 The datadog monitoring agent is a lightweight component sending system, 
 processes and services information back to your datadog account.
 .
 See http://www.datadoghq.com/ for more information
