[Unit]
Description="Datadog Agent"
After=network.target

[Service]
Type=forking
User=dd-agent
ExecStart=/opt/datadog-agent/bin/start_agent.sh
ExecStop=/opt/datadog-agent/bin/supervisorctl -c /etc/dd-agent/supervisor.conf shutdown

[Install]
WantedBy=multi-user.target
