<!doctype html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content"">
  <meta name="viewport" content="width=device-width">

  <title>Datadog Agent information</title>

  <link rel="stylesheet" href="./dark.css">
  <link rel="stylesheet" href="./pup.css">
</head>

<body id="body">
  <div id="container">
    <div id="status-content">
      <div id="status">
        <h1 id="status-header">Agent info</h1>

        <!-- General information -->
        <h2>General information</h2>

        <dl>
          <dt>Agent version</dt>    <dd>{{ agent_version }}</dd>
          <dt>Platform</dt>         <dd>{{ platform }}</dd>
          <dt>Python version</dt>   <dd>{{ python_version }}</dd>
          <dt>Logger</dt>           <dd>{{ logger_info }}</dd>
        </dl>

        <!-- Collector -->
        <h2>Collector</h2>

        <dl>
          <dt>Status date</dt>      <dd>{{ collector['status_date'] }}</dd>
          <dt>Pid</dt>              <dd>{{ collector['pid'] }}</dd>
          <dt>Path to conf.d</dt>      <dd>{{ collector['confd_path'] }}</dd>
          <dt>Path to checks.d</dt>    <dd>{{ collector['checksd_path'] }}</dd>
        </dl>

        <h3>Clocks</h3>

        <dl>
            <dt>NTP offset:</dt>          <dd><span class="{{ ['status-ok','status-error'][collector['ntp_warning']] }}">{{ collector['ntp_offset'] }}</span></dd>
          <dt>System UTC time:</dt>     <dd>{{ collector['utc_time'] }}</dd>
        </dl>

        <h3>Hostnames</h3>

        {% if collector['hostnames'] %}
        <dl>
          {% for key, host in collector['hostnames'].iteritems() %}
          <dt>{{ key }}</dt>      <dd>{{ host }}</dd>
          {% end %}
        </dl>
        {% else %}
        <p>No host information available yet.</p>
        {% end %}

        <h3>Checks</h3>

        {% if collector['checks'] %}
        <ul>
          {% for name, check in collector['checks'].iteritems() %}
          <li><h4>{{ name }}</h4>
          <ul>
          {% if check['init_failed'] %}
            <li>Initialization error: {{check['traceback']}}</li>
         {% else %}
          {% for id, instance in check['instances'].iteritems() %}
          <li>
            <dl>
              <dt>Instance #{{ id }}</dt> <dd class="{{ ['status-ok','status-warning','status-error', 'status-error'][2 * instance['has_error'] + 1 * instance['has_warnings']] }}">{{ instance['status'] }}</dd>
              {% if instance['has_error'] %}
              <dt>Error</dt> <dd>{{ instance['error'] }}</dd>
              {% end %}
              {% if instance['has_warnings'] %}
              <dt>Warnings</dt>
              <dd>
                {% if len(instance['warnings']) > 1 %}
                <br/>
                {% end %}
                {% for warning in instance['warnings'] %}
                {{warning}}<br />
                {% end %}
              </dd>
              {% end %}
            </dl>
          </li>
          {% end %}
          <li>Collected {{ check['metric_count'] }} metrics and {{ check['event_count'] }} events</li>
          </ul></li>
          {% end %}
        </ul>
        {% end %}
        {% else %}
        <p>No checks have run yet.</p>
        {% end %}

        <h3>Emitter</h3>

        {% if collector['emitter'] %}
        <dl>
          {% for status in collector['emitter'] %}
          <dt>{{ status['name'] }}</dt>
          <dd>
            <span class="{{ ['status-ok','status-error'][status['has_error']] }}">{{ status['status'] }}</span>
            {% if status['has_error'] %}
            <br />Error: {{ status['error'] }}
            {% end %}
          </dd>
          {% end %}
        </dl>
        {% else %}
        <p>No emitters have run yet.</p>
        {% end %}


        <!-- Forwarder -->
        <h2>Forwarder</h2>

        <dl>
          <dt>Status date</dt>      <dd>{{ forwarder['status_date'] }}</dd>
          <dt>Pid</dt>              <dd>{{ forwarder['pid'] }}</dd>
        </dl>

        <dl>
          <dt>Flush count</dt>        <dd>{{ forwarder['flush_count'] }}</dd>
          <dt>Queue size</dt>         <dd>{{ forwarder['queue_size'] }} bytes</dd>
          <dt>Queue length</dt>       <dd>{{ forwarder['queue_length'] }}</dd>
        </dl>

        <!-- Dogstatsd -->
        <h2>DogstatsD</h2>

        <dl>
          <dt>Status date</dt>      <dd>{{ dogstatsd['status_date'] }}</dd>
          <dt>Pid</dt>              <dd>{{ dogstatsd['pid'] }}</dd>
        </dl>

        <dl>
          <dt>Flush count</dt>        <dd>{{ dogstatsd['flush_count'] }}</dd>
          <dt>Packet count</dt>       <dd>{{ dogstatsd['packet_count'] }}</dd>
          <dt>Packets per second</dt> <dd>{{ dogstatsd['packets_per_second'] }}</dd>
          <dt>Metric count</dt>       <dd>{{ dogstatsd['metric_count'] }}</dd>
          <dt>Event count</dt>        <dd>{{ dogstatsd['event_count'] }}</dd>
        </dl>

      </div>

      <span id="dot">—</span>

      <h4 id="by">Powered by <a href="http://www.datadoghq.com/">Datadog</a></h4>
    </div><!-- #content -->

  </div><!-- #container -->
</body>
</html>
